POSTGRES_DB=trading_system
POSTGRES_USER=quant_user
POSTGRES_PASSWORD=change-this-password-before-use
POSTGRES_PORT=5432
REDIS_PORT=6379
MT5_DEMO_LOGIN=
MT5_DEMO_PASSWORD=
MT5_DEMO_SERVER=
FINNHUB_API_KEY=
FINNHUB_ECONOMIC_CALENDAR_ENABLED=false
